footer{
    padding-top: 30%; 
    margin-top: 50%;
    background-image: url(../Illustrations_Logo/All_pages/back_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.unie{
    padding-top: 20%;
    padding-left: 2%;
    float: left;
}
.olio{
    padding-top: -20%;
    padding-left: 50%;
    color: #ffffff;
    float: center;
}
.soc{
    margin-left: 10%;
    color: #ffffff;
    float: rights;
}
.icon{
    padding-bottom: 30%;
    float: right;
    color: #ffffff;
}
ul{
    color: #ffffff;
    text-align: horizontal;
    float:right;
}