body{
    background-image: url("../Illustrations_Logo/All_pages/arrière_plan.png");
    background-repeat: no-repeat;
    background-size: cover;
    }
    .Origines{
        color: #ffffff;
    }
    main{
        margin-bottom: 0%;
    }
    .TOP{
        margin-top: 1cm;
        margin-left: 2cm;
    }
    .Accueil{
        color: #ffffff;
        float: right;
        margin-right:1cm;
        font-family: "BEYNO";
    }
    p{
        color: #ffffff;
        font-size: 16px;
        font-family:"Cantarell";
    }
    h1{
        color: #8a858a;
        font-size: 68px;
        font-family:"BEYNO";
        font-style:normal;
    }
    h2{
        color: #8a858a;
        font-size: 43px;
        font-family:"Wakanda Forever";
    }
    h3{
     color: #ffffff;
     font-size: 32px;
     font-family: "BEYNO";   
    }
    video{
        background-color: #07338c;
    }
    .double{
        padding-left: 10%;
    }
    .MIE{
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .man{
    margin-left: 10%;
    }
    nav{
        float: right;
    }
    